*.pem
.env.token
payload.json
scitt/artifacts/_manifest/*
datatrails_scitt_samples/__pycache__/*
datatrails_scitt_samples/scripts/__pycache__/*
datatrails_scitt_samples/datatrails/__pycache__/*
datatrails_scitt_samples/mmriver/__pycache__/*
venv/*
